<div class="profile-string">
  <h4 class="profile-string__name">{{inputName}}</h4>
  <input class="profile-string__input" 
    placeholder="{{inputPlaceholder}}"
    name="{{input_name}}"

  />
  <span class="error__text">
  </span>
</div>
