<div class="profile-string">
  <h4 class="profile-string__name">{{inputLabel}}</h4>
  <label class="profile-string__label">
    <input class="profile-string__input" 
    placeholder="{{inputPlaceholder}}"
    name="{{input_name}}" id="{{input_id}}"

  />
  <span class="error__text">
  </label>
  
  </span>
</div>
