<form class="dialog__message">
      
       <img src="assets/icons/addFile.svg" alt="add files." class="message__file-icon">
         <div class="message__content">{{{MessageInput}}}</div>
    {{{MessageSendBtn}}}
</form>