.avatar-block {
  @extend %flex-col;

  gap: 2.1rem;
  // position: relative;
  &[showName="false"] {
    margin-bottom: 3.7rem;
    display: none;
  }

  &__img {
    width: 13rem;
    height: 13rem;
    border-radius: 90px;
    object-fit: cover;
  }

  &__title {
    color: $color-black;
    text-align: center;
    font-family: $main-font;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem;
  }
}

.avatar-modal {
  width: 250px;
  height: auto;
  padding: 3rem 1rem;
  background-color: #fff;
  z-index: 3;
  width: auto;
  display: none;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  gap: 2.5rem;
}

.modal-show {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.25);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
}

.modal-show > .avatar-modal {
  display: flex;
}
