.avatar-block {
  @extend %flex-col;

  gap: 2.1rem;

  &[showName="false"] {
    margin-bottom: 3.7rem;
    display: none;
  }

  &__img {
    width: 13rem;
    height: 13rem;
    border-radius: 90px;
    object-fit: cover;
  }

  &__title {
    color: $color-black;
    text-align: center;
    font-family: $main-font;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem;
  }
}
