// @import './layout/Modal/modal.sass'
@import '../pages/Login/login.sass'
@import '../pages/Chats/chatPage.sass'

@import './abstract/constants.sass'
@import './abstract/placeholders.sass'

@import './base/modalWindow.sass'

@import '../modules/ChatSidebar/chatSidebar.sass'

@import '../components/ButtonSubmit/button-submit.sass'
@import '../components/ButtonLink/button-link.sass'
@import '../components/SearchInput/searchInput.sass'
@import '../components/ChatBlock/chatBlock.sass'

*
  box-sizing: border-box

html
  font-size: 10px

.test
  color: green

#app
  display: flex
  flex-direction: column
  width: 100%
  align-items: center
  height: 100vh
  justify-content: center

body, h1, ul, h5, h2, h3, h4, h6
  margin: 0

ul
  padding: 0
