<div class="chat-field">
  {{#if messageField}}
  <div class="dialog">
    <div class="dialog__header">
      <div class="header">
        {{#if avatar}}
        <img src="" alt="avatar." class="header__avatar">
        {{else}}
               <figure class="header__avatar__empty"></figure>
        {{/if}}
         <h3>Name</h3></div>
      <img src="assets/icons/dots.svg"  alt="settings dots." class="header__dots-icon">
    </div>
    <span class="line"></span>

    {{#if dialogContent}}
    <div class="dialog__main dialog__main__full">      
      <p>TODO:</p> 
    </div>
    {{else}}
    <div class="dialog__main dialog__main__empty">
      <p>Начните беседу</p>
    </div>
    {{/if}}
    <span class="line"></span>

    {{{MessageForm}}}
  </div>
  {{else}}
  <p class="chat-field__promo">
  Выберите чат чтобы отправить сообщение
  </p>
  {{/if}}
</div>
