<div class='chat-sidebar'>
  <form class='chat-sidebar__header'>
    {{! <a class='chat-sidebar__profile'>Профиль</a> }}
    {{{ProfileLink}}}
    {{{SearchInput}}}
  </form>

  {{{ChatBlock}}}

</div>