.chat-block
  @extend %flex-row
  height: 7.2rem
  border-top: 1px solid $color-white-dark
  border-bottom: 1px solid $color-white-dark
  font-family: $main-font
  margin: 0 1rem
  list-style-type: none
  padding: 1.2rem 0
  gap: 1rem
  justify-content: flex-start
  &__img
    width: 4.7rem
    height: 4.7rem
    border-radius: 30px
    object-fit: cover
  &__content
    flex: 1
    &-name
      color: $color-black
      font-size: 1.3rem
      font-style: normal
      font-weight: 600
      line-height: 1.3rem
    &-text
      color: $color-gray-light
      font-size: 1.2rem
      font-style: normal
      font-weight: 500
      line-height: 1.5rem
      padding-top: .4rem

  &__time
    color: $color-gray-light
    text-align: right
    font-size: 0.9rem
    font-style: normal
    font-weight: 500
    line-height: 1.3rem
