$main-font: 'Inter','Helvetica', sans-serif;

$color-blue: #3369F3;
$color-gray-light: #999;
$color-white: #fff;
$color-white-dark: #EAEAEA;
$color-white-medium: #FBFBFB;
$color-gray-white: #EFEFEF;
$color-black: #1E1E1E;
$color-red: #b50606;
