$main-font: "Inter", "Helvetica", sans-serif;

$color-blue: rgb(54, 107, 242);
$color-gray-light: rgb(153, 153, 153);
$color-white: rgb(255, 255, 255);
$color-white-dark: #eaeaea;
$color-white-medium: #fbfbfb;
$color-gray-white: #efefef;
$color-black: #1e1e1e;
$color-red: #b50606;
